<div class="container">
    <h1 class="title">Все расчеты</h1>

    <% @calculations.each do |calculation|%>
        <p><%= link_to "План \"#{calculation.title}\". Создано #{calculation.created_at.strftime("%d.%m.%Y")}", calculation_path(id: calculation.id) %></p>
    <% end %>
</div>

