<!DOCTYPE html>
<html>
<head>
  <title>Budget Calculator</title>
</head>
<body>
  <h1>Добро пожаловать на сервис расчета бюджета!</h1>
  <p>Этот сервис поможет вам рассчитать бюджет для различных нужд. Просто нажмите кнопку ниже, чтобы начать расчет.</p>
  
  
</body>
</html>

