 <div class="container">
        <h1>Планировщик бюджета</h1>
        <p>Ваш помощник в подготовке к свадьбе мечты</p>
        
        <!-- Ruby код вставляется сюда -->
        <% if current_user.nil? %>
            <%= button_to 'Начать', new_session_path, method: :get, class: 'button btn-primary' %>
        <% else %>
            <%= button_to 'Начать', calculations_path, method: :get, class: 'button btn-primary' %>
        <% end %>
</div>

