/* Общий стиль */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f6f1; /* Светлый бежевый фон */
    color: #000; /* Черный для текста */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Обертка */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Контейнер для содержимого */
.container {
    background: #fffaf2; /* Светло-бежевый фон контейнера */
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень с черным оттенком */
    text-align: center;
}

/* Навигационная панель */
.navbar {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffaf2; /* Светло-бежевый */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 20px;
    color: #000; /* Черный текст */
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand:hover {
    text-decoration: underline;
}

/* Ссылки и пользовательская информация */
.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-user {
    color: #333; /* Темно-серый текст */
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

/* Flash сообщения */
.message {
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 14px;
}

.message-notice {
    background-color: #e8dcc3; /* Светло-бежевый для уведомлений */
    color: #000;
}

.message-alert {
    background-color: #e8c3c3; /* Красновато-бежевый для ошибок */
    color: #000;
}

/* Кнопки */
.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000; /* Черный текст */
    background-color: transparent; /* Прозрачный фон */
    border: 2px solid #000; /* Черная обводка */
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #000; /* Черный фон при наведении */
    color: #fff; /* Белый текст при наведении */
}

.button-main {
    border-color: #b59d82; /* Темно-бежевый обводка */
}

.button-main:hover {
    background-color: #b59d82; /* Темно-бежевый фон при наведении */
    color: #fff;
}

.button-logout {
    background-color: #70594c; /* Темный бежевый фон */
    color: #fff;
    border: none;
}

.button-logout:hover {
    background-color: #5a4633; /* Более темный бежевый */
}

/* Заголовок */
h1 {
    font-size: 24px;
    color: #000; /* Черный для заголовка */
}

/* Описание */
p {
    font-size: 16px;
    margin: 10px 0 20px;
    line-height: 1.5;
    color: #333; /* Темно-серый для текста */
}

/* Отступы для кнопок */
.mr-sm {
    margin-right: 10px;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.mb-sm {
    margin-bottom: 5px;
}

.mb-min {
    margin-bottom: 1px;
}

.mt-lg {
    margin-top: 20px;
}

/* Формы */
form p {
    margin: 0;
    text-align: left; /* Текст выравнивается по левому краю */
}

form label {
    font-size: 14px;
    font-weight: bold;
    color: #000; /* Черный текст */
}

.text-red {
    color: #e63946; /* Красный для сообщений об ошибке */
    font-size: 14px;
}

/* Кнопка без рамок */
.button-no-border {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000; /* Черный текст */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без обводки */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-no-border:hover {
    color: #b59d82; /* Темно-бежевый цвет текста при наведении */
    text-decoration: underline; /* Подчеркивание текста при наведении */
}

/* Поля ввода */
.form-text-field {
    width: 50%;
    padding: 10px 10px; /* Увеличены отступы для большего размера */
    font-size: 14px; /* Увеличен размер шрифта */
    border: 1px solid #ccc; /* Серый контур */
    border-radius: 6px; /* Немного округленные углы */
    background-color: #fff; /* Белый фон */
    color: #000; /* Черный текст */
    margin-top: 8px;
    transition: border-color 0.3s ease;
    height: 10px; /* Увеличена высота поля */
}

.form-text-field-login
{
    width: 60%;
}

.form-text-field-title
{
    width: 30%;
}

/* Эффект при фокусе на поле */
.form-text-field:focus {
    border-color: #b59d82; /* Темно-бежевый контур при фокусе */
    outline: none;
}

/* Ссылка без подчеркивания при наведении */
.link-no-underline {
    color: #000; /* Черный текст */
    text-decoration: none; /* Без подчеркивания */
     /* font-weight: bold;Жирный текст для выделения */
    transition: color 0.3s ease; /* Плавный переход для изменения цвета */
}

/* Эффект при наведении */
.link-no-underline:hover {
    color: #b59d82; /* Темно-бежевый цвет текста при наведении */
    text-decoration: none; /* Убираем подчеркивание при наведении */
}

.container-left {
    text-align: left;
}

/* Контейнер для ссылок */
.links-container {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    gap: 20px; /* Отступ между ссылками */
    align-items: center; /* Центрирование элементов по вертикали */
}

/* Стиль таблицы */
table {
    width: 100%; /* Ширина таблицы на весь доступный блок */
    border-collapse: collapse; /* Убирает промежутки между ячейками */
    margin-bottom: 20px; /* Отступ снизу таблицы */
    table-layout: fixed; /* Устанавливает фиксированное распределение колонок */
}

/* Стиль заголовков таблицы */
th {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 12px 20px; /* Увеличенный отступ для заголовков */
    background-color: #f9f6f1; /* Светлый бежевый фон для заголовков */
    font-weight: bold; /* Жирный шрифт для заголовков */
    border-bottom: 2px solid #ccc; /* Линия под заголовками */
}

/* Стиль ячеек таблицы */
td {
    padding: 10px 20px; /* Увеличенные отступы в ячейках */
    border-bottom: 1px solid #ddd; /* Линия под ячейками */
}

/* Дополнительные стили для таблицы */
tbody tr:hover {
    background-color: #f1f1f1; /* Цвет фона строки при наведении */
}

.remove_budget_row{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000; /* Черный текст */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без обводки */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove_control_row{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000; /* Черный текст */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без обводки */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove_contractor_row{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000; /* Черный текст */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без обводки */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove_alco_row{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000; /* Черный текст */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без обводки */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove_guest_row{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000; /* Черный текст */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без обводки */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 
form input[type="text"],
form input[type="number"] {
    width: 100%; /* Заставляет поля формы занимать всю доступную ширину 
    box-sizing: border-box;  Учитывает padding и border при расчете ширины 
} 
*/

.custom-form input[type="text"],
.custom-form input[type="number"] {
    width: 100%; /* Заставляет поля формы занимать всю доступную ширину */
    box-sizing: border-box; /* Учитывает padding и border при расчете ширины */
    padding: 10px 10px; /* Увеличены отступы для большего размера */
    font-size: 14px; /* Увеличен размер шрифта */
    border: 1px solid #ccc; /* Серый контур */
    border-radius: 6px; /* Немного округленные углы */
    background-color: #fff; /* Белый фон */
    color: #000; /* Черный текст */
    margin-top: 8px;
    transition: border-color 0.3s ease;
    height: 10px; /* Увеличена высота поля */
}

.custom-form input[type="text"]:focus,
.custom-form input[type="number"]:focus {
    border-color: #b59d82; /* Темно-бежевый контур при фокусе */
    outline: none;
}

.custom-form input#exclude-field {
    width: 30%; /* Вернем ширину по умолчанию или зададим другую */
}

.icon-class {
    width: 50%; /* Задайте нужную ширину */
    height: auto; /* Сохраняйте пропорции изображения */
    display: block; /* Если нужно центровать */
    margin: 0 auto 20px; /* Центрировать и добавить отступ снизу */
}
